<div class="row">
  <div class="small-12 small-centered columns">
    <img class="center_it" src="images/Bears_in_Pursuit_600x595.jpg" alt="Bears in Pursuit" />
  </div>
</div>

<div class="row">
  <div class="small-12 large-10 small-centered columns">
    <div class="clock"></div>
    <div class="message center_it"></div>
  </div>
</div>

<div class="row">
  <div class="small-12 small-centered columns">
    <iframe class="center_it" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12609.126667476088!2d-122.14869399999994!3d37.80687100000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzfCsDQ4JzI0LjciTiAxMjLCsDA4JzU1LjMiVw!5e0!3m2!1sen!2sus!4v1415154619079" width="600" height="450" frameborder="0" style="border:0"></iframe>
  </div>
</div>

<div class="row">
  <div class="small-12 small-centered columns">
    <a href="#" class="center_it" data-reveal-id="trailMap">
      <img class="center_it" src="images/hiking-symbol.gif" alt="trail icon" />
      <p>Detailed Trail Map (Run #2)</p>
    </a>
  </div>
</div>

<div id="trailMap" class="reveal-modal" data-reveal>
  <img class="center_it" src="images/trailmap.jpg" alt="Trail Map" />
  <a class="close-reveal-modal">&#215;</a>
</div>
