<!DOCTYPE html>
<html>
  <head>
    <title>Bears in Pursuit</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/flipclock.css">
    <link rel="stylesheet" href="http://cdn.foundation5.zurb.com/foundation.css">
    <script src="js/vendor/modernizr.js"></script>
  </head>

  <body>

    <%= yield %>

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/vendor/fastclick.js"></script>

    <script src="http://cdn.foundation5.zurb.com/foundation.js"></script>
    <script src="js/vendor/foundation.reveal.js"></script>

    <script src="js/flipclock.min.js"></script>
    <script src="js/countdown.js"></script>

    <script>
      $(document).foundation();
    </script>
  </body>
</html>
